<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>TLA CV Builder</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="/static/css/responsive.css">

</head>

<style>
    .cv-builder-container {
        background-color: white;
        width: 80%;
        margin: 50px auto;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .user-info {
        float: right;
        text-align: right;
    }
    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    button {
        
        color: black;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    
</style>

<body class="light-version">
   

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <div class="classy-nav-container dark breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index-2.html"><img src="/static/img/core-img/logo.png" alt="logo"> CV Builder.</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="/about_us">About Us</a></li>
                                <li><a href="templates.html">Templates</a></li>
                                <li><a href="contact-us.html">Contact</a></li>

                                <li><a href="contact-us.html">Logout</a></li>
                            </ul>

                
                           

                        
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <section class="welcome_area demo2 flex align-items-center">

        <div class="cv-builder-container" style="padding:5%;">

            <div>
                <h3>Create a Multi-Step Form Using HTML, CSS, and JavaScript</h3>
                    <form method="post" action="/professional_experience_form">

                        {% csrf_token %}
                        <label for="{{ form.question_6.id_for_label }}">1. How would you describe your professional background in one or two sentences, stating how many years’ experiences you have, the type of high-level tasks you have completed and which industries you have worked in ?  :</label>
                        {{ form.question_6 }}
                        <label for="{{ form.question_7.id_for_label }}">2. What tools have you used which are related to business analysis?</label>
                        {{ form.question_7 }}
                        <label for="{{ form.question_8.id_for_label }}">3. What tangible achievement have you achieved. i.e. how have you helped a company make money, save money or save time?</label>
                        {{ form.question_8 }}
                        
                        <button type="submit">Next</button>
                        
                    </form>

            </div>


        </div>

    </section>



<!-- ##### Footer Area Start ##### -->
<footer class="footer-area bg-img">

    <div class="footer-content-area spec">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="footer-copywrite-info">
                        <!-- Copywrite -->
                        <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                            <div class="footer-logo">
                                <a href="#"><img src="/static/img/core-img/logo.png" alt="logo"> CV Builder </a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ducimus voluptatibus neque illo id repellat quisquam? Autem expedita earum quae laborum ipsum ad.</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-6">
                    <div class="contact_info_area d-sm-flex justify-content-between">
                        <!-- Content Info -->
                        <div class="contact_info mt-x text-center fadeInUp" data-wow-delay="0.3s">
                            <h5>PRIVACY & TOS</h5>
                            <a href=""><p>Advertiser Agreement</p></a>
                            <a href=""><p>Acceptable Use Policy</p></a>
                            <a href=""><p>Privacy Policy</p></a>
                            <a href=""><p>Technology Privacy</p></a>
                            <a href=""><p>Developer Agreement</p></a>
                        </div>
                    </div>
                </div>
                  
                <div class="col-12 col-lg-2 col-md-6 ">
                    <!-- Content Info -->
                    <div class="contact_info_area d-sm-flex justify-content-between">
                        <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.2s">
                            <h5>NAVIGATE</h5>
                            <a href=""><p>Advertisers</p></a>
                            <a href=""><p>Developers</p></a>
                            <a href=""><p>Resources</p></a>
                            <a href=""><p>Company</p></a>
                            <a href=""><p>Connect</p></a>
                        </div>
                    </div>
                </div>
                

                <div class="col-12 col-lg-3 col-md-6 ">
                    <div class="contact_info_area d-sm-flex justify-content-between">
                        <!-- Content Info -->
                        <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                            <h5>CONTACT US</h5>
                            <p>Mailing Address:xx00 E. Union Ave</p>
                            <p>Suite 1100. Denver, CO 80237</p>
                            <p>+999 90932 627</p>
                            <p>support@yourdomain.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>

    
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ########## All JS ########## -->
<!-- jQuery js -->
<script src="/static/js/jquery.min.js"></script>
<!-- Popper js -->
<script src="/static/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/static/js/plugins.js"></script>
<script src="/static/js/particles.js"></script>
<script src="/static/js/app.js"></script>
<!-- Parallax js -->
<script src="/static/js/dzsparallaxer.js"></script>

<script src="/static/js/jquery.syotimer.min.js"></script>

<!-- script js -->
<script src="/static/js/script.js"></script>
</body>
</html>
